<div class="top-contributors-banner">
  <div class="contributors-header">Monthly top contributors</div>

  {{#if this.users.length}}
    <ul class="contributors-list">
      {{#each this.users as |user|}}
        <li class="contributor-item">
          <img
            class="contributor-avatar"
            src="{{avatar-url user.user.avatar_template 64}}"
            alt="{{user.user.username}}"
          >
          <div class="contributor-info">
            <span class="username">{{user.user.username}}</span>
            <span class="name">{{user.user.name}}</span>
          </div>
          <div class="contributor-posts">
            {{user.post_count}} Posts
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p class="loading-msg">Loading top contributors…</p>
  {{/if}}

  <div class="see-more">
    <a href="/u?order=post_count&period=monthly">See more +</a>
  </div>
</div>

