<section class="category-grid">
  {{#each categories as |category|}}
    <a href="{{category.url}}" class="category-card-link">
      <div class="category-card">
        <div class="category-card__icon">
          {{#if category.uploaded_logo.url}}
            <img src="{{category.uploaded_logo.url}}" alt="{{category.name}}" />
          {{else}}
            <div class="default-icon">📁</div>
          {{/if}}
        </div>
        <div class="category-card__content">
          <h3 class="category-card__title">{{category.name}}</h3>
          <p class="category-card__desc">{{category.description_text}}</p>
        </div>
      </div>
    </a>
  {{/each}}
</section>




<section class="ambassador-banner">
  <div class="banner-content">
    <div class="banner-left">
      <img src="https://cdck-file-uploads-canada1.s3.dualstack.ca-central-1.amazonaws.com/flex007/uploads/buila/original/1X/eb761fedfa9bd395e2c52f440298e3d4100b5f40.svg" alt="Ambassador Icon">
    </div>
    <div class="banner-middle">
      <h2>Become an Buila Ambassador</h2>
      <p>
        Buila Ambassadors are empowered to drive organizational excellence and<br> 
        productivity with access to exclusive resources, webinars, and a community<br> 
        of fellow collaborative work management enthusiasts.
      </p>
    </div>
    <div class="banner-right">
      <a href="#" class="join-btn">Join us</a>
    </div>
  </div>
</section>
