<div class="top-contributors__container">
  <h3 class="top-contributors__heading">Monthly top contributors</h3>

  {{#if this.topContributors.length}}
    <div class="top-contributors__body">
      {{#each this.topContributors as |item|}}
        <div class="top-contributors__user">
          <span data-user-card="{{item.user.username}}" class="top-contributors__user-badge">
            <div class="top-contributors__user-image user-image">
              <img
                alt="{{item.user.username}}"
                width="48"
                height="48"
                src="{{avatar-url item.user.avatar_template 96}}"
                class="avatar"
              >
              {{avatar-flair item.user}}
            </div>
            <div class="top-contributors__user-username">
              {{item.user.username}}
            </div>
            <div class="top-contributors__user-name">
              {{item.user.name}}
            </div>
          </span>
          <span class="top-contributors__user-posts">
            <div class="top-contributors__user-posts-count">{{item.post_count}}</div>
            <div class="top-contributors__user-posts-text">Posts</div>
          </span>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>Loading…</p>
  {{/if}}

  <div class="top-contributors__view-all">
    <a href="/u?order=post_count&period=monthly">See more +</a>
  </div>
</div>

